.about {
  height: 90vh;
  display: flex;
  align-items: center;
}

.about-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.about-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.about-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: gray;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-right {
  flex: 1;
  margin-bottom: 10%;
}

.about-title {
  font-size: 6em;
  font-weight: bolder;
  color: rgb(61, 61, 61);
  margin-bottom: 10%;
}

.about-right h3 {
  margin-top: 20px;
  font-size: 1.8em;
  color: rgb(201, 76, 76);
  font-weight: bolder;
}
.about-right p {
  margin-top: 10px;
  font-size: 1.3em;
}

@media screen and (max-width: 640px) {
  .about {
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }

  .about-left {
    width: 100%;
  }

  .about-card {
    height: 30vh;
  }
  .about-right {
    padding: 20px;
  }
}
